.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.calendar_wrapper {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
	width: 60%;
	margin: 0 auto;
}

.button_wrapper {
	display: flex;
	flex-direction: column;
}

.month {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.days {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(7, 1fr);
	width: 60%;
	margin: 0 auto;
	font-size: 16px;
}
