@import '../../../style/variables.scss';

.text {
	font-family: $fontRegular;
	font-size: 14px;
	color: $colorWhite;
	margin-bottom: 1.75rem;
}

.text-sent {
	font-family: $fontSemiBold;
	font-size: 14px;
	text-align: center;
	color: $colorWhite;
	margin-bottom: 0.75rem;
}

.submit-button {
	background-color: $colorLavander;
	color: $colorPurple1;

	&:hover {
		background-color: $colorWhite;
	}
}

.sent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	text-align: center;
}

@media screen and (min-width: 1200px) {
	.wrapper {
		max-width: 18rem;
	}
}
