.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	width: 8rem;
	font-size: 15px;
}

button {
	margin-top: 1rem;
}
