.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.days {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	place-content: center;
	font-size: 16px;
	width: 100%;
	margin: 2rem auto 0 2.5rem;
}

.six {
	display: flex;
	width: 100%;
	margin: 2rem 0 0 -2rem;
	gap: 1rem;

	&_titles {
		display: grid;
		gap: 1rem;
		font-size: 16px;
	}
}

li {
	display: grid;
	place-content: center;
}
