.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 4rem auto 0 auto;
	width: 10rem;
	font-size: 15px;
}

.remember_me {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
