.wrapper {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 12rem;
	background-color: black;
	font-size: 16px;
}

.title {
	font-size: 18px;
	color: white;
	text-align: center;
}

.text {
	font-size: 16px;
	color: white;
}
