@font-face {
	font-family: Poppins-Regular;
	src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Medium-Italic;
	src: url('../assets/fonts/Poppins-MediumItalic.ttf');
}

@font-face {
	font-family: Poppins-Semi-Bold;
	src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-Extra-Bold;
	src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}

$fontRegular: Poppins-Regular;
$fontMedium: Poppins-Medium;
$fontMediumItalic: Poppins-Medium-Italic;
$fontSemiBold: Poppins-Semi-Bold;
$fontBold: Poppins-Bold;
$fontExtraBold: Poppins-Extra-Bold;
