@import '../../_shared/style/variables.scss';

// .name-wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	width: 20rem;
// 	height: auto;
// 	margin: 2rem 0;
// 	padding: 2rem 1rem;
// 	background-color: #191b34;
// 	border: 1px solid #8d88ff;
// 	border-radius: 1.85rem;
// 	gap: 1rem;
// }

.password-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 2rem 0;
	padding: 2rem 1rem;
	background-color: #191b34;
	border: 1px solid #8d88ff;
	border-radius: 1.85rem;
	gap: 1rem;
}

.basic {
	color: white;
}
