@import '../../style/variables.scss';

.button {
	font-size: 15px;
	font-family: $fontBold;
	padding: 0.5em 2.86em;
	border-radius: 2.46em;
	cursor: pointer;

	&--white {
		background-color: #ffffff;
		color: #564bef;
	}

	&--purple {
		background-color: #564bef;
		color: #ffffff;
	}
}
