@import './_shared/style/variables.scss';

#root {
	font-size: 20px;
	font-family: $fontMedium;
	position: relative;
	height: 100vh;
	background-color: #191b34;
	display: flex;
	justify-content: center;
	transition: margin-right 0.3s ease-in-out;
}

#mobile-sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 0rem;
	max-width: 30rem;
	height: 100vh;
	font-size: 20px;
	font-family: $fontMedium;
	float: right;
	background-color: #3e379b;
	transition: width 0.3s ease-in-out;
	z-index: 4;
}

#desktop-sidebar {
	display: none;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
	list-style-type: none;
}

button {
	border: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media screen and (min-width: 1200px) {
	#desktop-sidebar {
		position: relative;
		display: block;
		flex-direction: column;
		width: 30rem;
		height: 100vh;
		font-size: 20px;
		font-family: $fontMedium;
		float: right;
		background-color: #3e379b;
	}
}
