.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.month {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.chart {
	height: 30rem;
	width: 100%;
}

.test {
	display: flex;
	flex-wrap: wrap;
}
