.button {
	width: 2rem;
	height: 2rem;
	background-color: white;
	border: none;
	border-radius: 0.1rem;

	&:active {
		border: 0.1rem solid black;
	}

	&:disabled {
		background-color: rgb(126, 126, 126);

		&:active {
			border: 0;
		}
	}

	&--zero {
		background-color: white;
	}

	&--one {
		background-color: yellow;
	}

	&--two {
		background-color: green;
	}
}
